<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULTAR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body style="background: rgb(20, 197, 220);">
    <div class="p-3 mb-2 bg-info text-white" > <h1 style="text-align: center;">DATOS PERSONALES</h1></div>
        <table>
     <div>  ID:        {{ruta.id}} </div>
    <div> NOMBRE:    {{ruta.Nombre}}</div> 
    <div> EDAD:      {{ruta.Edad}}</div>
    <div> DIRECCION: {{ruta.Direccion}}</div>
    <div> CORREO:    {{ruta.Correo}}</div>
    <div> TELEFONO:  {{ruta.Telefono}}</div>
</table>
</body>
</html>