<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body style="background-color: darkcyan;">
    <h1 style="text-align: center;"> <div class="p-3 mb-2 bg-info text-white" >DATOS PERSONALES</h1></div>
    <form method="GET" action="/editar/{{id}}">
        <table>
            {{form}}
        </table>
        <input type="submit" value="Guardar">
        {% csrf_token %}
    </form>
</body>
</html>