<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LISTA DE ALUMNOS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <body>
        
     
        <h1 style="padding-bottom: 5rem;">
        <div class="p-3 mb-2 bg-info text-white" ><p class="text-center">UNIVERSIDAD LISTADO </p></div> 
        </h1>
        
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <form method="GET" action="/crear/">
                        <table style="background-color: cadetblue;">
                            {{form}}
                        </table>
                        <input type="submit"  value='Crear y Guardar'>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="col-8">
                    <table class="table" style="background-color:rgb(119, 198, 230);">  
                        <thead>
                            
                            
                             <!--Tabla de los parametro y atributos que se ocuparan para la interfaz-->   
                                <th scope="col">NOMBRE</th>
                                <th scope="col">DETALLE</th>
                                <th scope="col">MODIFICAR</th>
                                <th scope="col">ELIMINAR</th>
                            
                        
                   
                        </thead>
                        <tbody>
                    
                            {% for curso in cursos %}

                        
                        
                            <tr>
                                <!--Inicio for para listar los registros de la tabla Curso-->
                                
                                        <th>{{curso.Nombre}}</th>
                                        <th><a href="consultar/{{curso.id}}">Consultar</a></th>
                                        <th><a href="modificar/{{curso.id}}">Editar</a></th>          
                                        <th><a href="eliminar/{{curso.id}}">Eliminar</a></th> 
                            </tr>
                        
                            {% endfor %}
                       
                                   
                        
                        
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>